.fzylsjl-fzyzjjl .fix-table td {
    text-align: center;
}
.fzylsjl-fzyzjjl .fix-table td:first-child {
    text-align: left;
}
.fzylsjl-fzyzjjl .sm {
	padding: 20px;
}
.fzylsjl-fzyzjjl .dt {
	padding: 10px;
}
