.ant-table-thead > tr > th{
    text-align: center
}

.ant-table-bordered .ant-table-thead > tr > th:last-child, .ant-table-bordered .ant-table-tbody > tr > td:last-child {
    border-right: 1px solid #e9e9e9
}

    text-align: center;
    font-size: 12px;
    color: #999; 
    position: absolute;
    left: 0;
    width: 100%;
}