.client-pxxx .act-group a{
    margin-right:8px
}
.client-pxxx .row-selected {
    background-color:#eaf8fe ;
}
.client-pxxx .form h2 {
    margin: 8px 0 16px 0
}
.client-pxxx .blue{
    color: #0097DA
}
.client-wsbm-hz h2{
    text-align: center;
}
.client-wsbm-hz h3{
    margin-bottom:8px;
}
.client-wsbm-hz .divide{
    height:24px;
}