.dj_background{
    position: relative;
    width:18.8cm;
    height:10.4cm;
    background:rgba(0, 0, 0, 0) url("./background_dj.jpg"); 
    font-size:10pt;
    font-family: SimSun;
}

@media print{

.noprint{
   display:none;
}


.dj_background{
    position: absolute;
    right:0cm;
}


}