.outer-border table {
    border:1px solid #e9e9e9;
}

.outer-border tbody tr:last-child th,
.outer-border tbody tr:last-child td {
    border-bottom: 0;
}

.qxgl .row-selected {
    background-color:#eaf8fe ;
}