
.app-header{
    height: 64px;
    position: relative;
    background-color: #03A9F4;
}
.app-header,.app-header a {
    color: #B3E5FC;
}
.app-header .app-logo {
    position: absolute;
    width:224px;
    height: 64px;
    left:0;
    top:0;
    text-align: center;
}
