.zb_background{
    position: relative;
    width:38.71cm;
    height:26.67cm;
    background:rgba(0, 0, 0, 0) url("./background_zb.jpg"); 
    font-size:15.65pt;
    font-family: Sun,SimSun;
    font-weight: 600;
}
.zb_background .dwmc{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:13.26cm; 
    height: 1.85cm; 
    left: 7.88cm;
    top: 10.16cm;
}
.zb_background .zsbh{
    position: absolute;
    left:7.88cm;
    top:12.12cm;
}
.zb_background .ZJPZWH{
    position: absolute;
    left:7.88cm;
    top:13.97cm;
}
.zb_background .DZHI{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:12.89cm; 
    height: 2.49cm; 
    left: 7.88cm;
    top: 15.8cm;
}
.zb_background .fddbr{
    position: absolute;
    left: 27.56cm;
    top: 10.16cm;
}

.zb_background .zczj{
    position: absolute;
    left: 27.56cm;
    top: 14.02cm;
}
.zb_background .YYZZHM{
    position: absolute;
    left: 27.56cm;
    top: 12.49cm;
}
.zb_background .JYFW{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:8.44cm; 
    height: 4.18cm; 
    left: 27.56cm;
    top: 15.98cm;
}
.zb_background .year{
    position: absolute;
    left:26.83cm;
    top:22.45cm;
}
.zb_background .month{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:0.77cm; 
    height: 0.64cm; 
    text-align: center;
    left:29.05cm;
    top:22.45cm;
}
.zb_background .date{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:0.77cm; 
    height: 0.64cm; 
    left:30.48cm;
    top:22.45cm;
    text-align: center;
}


@media print{

.noprint{
   display:none;
}


.zb_background{
    position: absolute;
    left:-0.3cm;
    top:-0.1cm;
    width:38.71cm;
    height:26.67cm;
    font-size:15.65pt;
    font-family: Sun,SimSun;
    font-weight: 600;
}
.zb_background .dwmc{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:13.26cm; 
    height: 1.85cm; 
    left: 7.88cm;
    top: 10.16cm;
}
.zb_background .zsbh{
    position: absolute;
    left:7.88cm;
    top:12.12cm;
}
.zb_background .ZJPZWH{
    position: absolute;
    left:7.88cm;
    top:13.97cm;
}
.zb_background .DZHI{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:12.89cm; 
    height: 2.49cm; 
    left: 7.88cm;
    top: 15.8cm;
}
.zb_background .fddbr{
    position: absolute;
    left: 27.56cm;
    top: 10.16cm;
}

.zb_background .zczj{
    position: absolute;
    left: 27.56cm;
    top: 14.02cm;
}
.zb_background .YYZZHM{
    position: absolute;
    left: 27.56cm;
    top: 12.49cm;
}
.zb_background .JYFW{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:8.44cm; 
    height: 4.18cm; 
    left: 27.56cm;
    top: 15.98cm;
}
.zb_background .year{
    position: absolute;
    left:26.83cm;
    top:22.45cm;
}
.zb_background .month{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:0.77cm; 
    height: 0.64cm; 
    text-align: center;
    left:29.05cm;
    top:22.45cm;
}
.zb_background .date{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:0.77cm; 
    height: 0.64cm; 
    left:30.48cm;
    top:22.45cm;
    text-align: center;
}

}