.client-swsjbqk .act-group a{
    margin-right:8px
}
.client-swsjbqk .row-selected {
    background-color:#eaf8fe ;
}
.client-swsjbqk .fail-scr {
    padding:24px 24px 72px 24px
}
.client-swsjbqk .success-scr {
    padding:24px 24px 72px 24px
}