.ry_background{
    position: relative;
    width:19.53cm;
    height:13.39cm;
    background:rgba(0, 0, 0, 0) url("./background_ry.jpg"); 
    font-size:10.5pt;
    font-family: KaiTi,SimSun,Sun;
}

@media print{

.noprint{
   display:none;
}


.ry_background{
    position: absolute;
    left:-0.3cm;
    top:-0.4cm;
}


}