.khxxgl .new-form .ant-form-item > label {
    text-align: left;
}

.client-ywbb > .wrap > .ant-tabs-card > .ant-tabs-content {
    background: #fff;
    padding: 16px;
    margin-top: -16px;
}

.client-ywbb > .wrap > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
}

.client-ywbb > .wrap > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
}
.client-ywbb .panel {
    margin-bottom: 0;
}
.client-ywbb .panel > .panel-body {
    padding:16px 0 0 0
}
.client-ywbb .panel >.panel-title {
    padding:14px 0
}
.client-ywbb .steps{
    padding:24px
}
.client-ywbb .stage{
    margin-top:16px
}
.client-ywbb .ywbb-new-loadfail {
    padding: 150px;
    text-align: center;
    font-size: 14px;
}
.client-ywbb .ywbbgl .search-form {
    margin-bottom:24px;
    background-color: #FFFFFF;
    padding:16px 32px
}

.client-ywbb .ywbbgl .fix-table td {
    text-align: center;
}
.client-ywbb .ywbbgl .fix-table td:nth-child(odd) {
    text-align: right;
}
.client-ywbb .ywbbgl .fix-table td:nth-child(even) {
    text-align: left;
}
.client-ywbb .ywbbgl .fix-table td.value {
    text-align: left;
}
.client-ywbb .ywbbgl .detail-bar{
    margin-top: 16px;
}
.client-ywbb .ywbbgl .detail-bar .ant-btn{
    margin-right: 8px;
    float: right;
}
.client-ywbb .ywbbgl .act-group a{
    margin-right:8px
}
.client-ywbb .ywbbgl .row-selected {
    background-color:#eaf8fe ;
}