.khxxgl .new-form .ant-form-item > label {
    text-align: left;
}

.client-ywbb > .wrap > .ant-tabs-card > .ant-tabs-content {
    background: #fff;
    padding: 16px;
    height: 120px;
    margin-top: -16px;
}

.client-ywbb > .wrap > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
}

.client-ywbb > .wrap > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
}