.dy_background{
    position: relative;
    width:18.8cm;
    height:10.4cm;
    background:rgba(0, 0, 0, 0) url("./background.jpg"); 
    font-size:10pt;
    font-family: SimSun;
}

@media print{

.noprint{
   display:none;
}

/* .fpdya4{
   width:790px;
} */

.dy_background{
   /* left:82px; */
    position: absolute;
    /*left:61.5pt;*/
    right:0cm;
}


}