.ywbbgl .search-form {
    margin-bottom:24px;
    background-color: #FFFFFF;
    padding:16px 32px
}

.ywbbgl .fix-table td {
    text-align: center;
}
.ywbbgl .fix-table td:first-child {
    text-align: left;
}

