.fb_background{
    position: relative;
    width:19.05cm;
    height:13.85cm;
    background:rgba(0, 0, 0, 0) url("./background_fb.jpg"); 
    font-size:8.65pt;
    font-family: Sun,SimSun;
    font-weight: 600;
}
.fb_background .zsbh{
    position: absolute;
    left:3.92cm;
    top:7.67cm;
}
.fb_background .ZJPZWH{
    position: absolute;
    left:3.92cm;
    top:9.52cm;
}
.fb_background .year{
    position: absolute;
    left:5.13cm;
    top:12.06cm;
}
.fb_background .month{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:0.38cm; 
    height: 0.34cm; 
    text-align: center;
    left:6.4cm;
    top:12.06cm;
}
.fb_background .date{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:0.38cm; 
    height: 0.34cm; 
    left:7.15cm;
    top:12.06cm;
    text-align: center;
}
.fb_background .dwmc{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:4.56cm; 
    height: 1.21cm; 
    left: 13.12cm;
    top: 1.92cm;
}
.fb_background .DZHI{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:4.56cm; 
    height: 1.21cm; 
    left: 13.12cm;
    top: 3.13cm;
}
.fb_background .fddbr{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:3.92cm; 
    height: 0.96cm; 
    left: 13.86cm;
    top: 4.26cm;
}

.fb_background .zczj{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:3.92cm; 
    height: 0.96cm; 
    left: 13.86cm;
    top: 5.86cm;
}
.fb_background .YYZZHM{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:3.92cm; 
    height: 0.96cm; 
    left: 13.12cm;
    top: 7.36cm;
}
.fb_background .JYFW{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:4.56cm; 
    height: 3.85cm; 
    left: 13.12cm;
    top: 8.69cm;
}


@page {
    size: A3;
}

@media print{

.noprint{
   display:none;
}


.fb_background{
    position: absolute;
    left:-0.3cm;
    top:-0.1cm;
    font-size:13.5pt;
    font-weight: 600;
}
.fb_background .zsbh{
    position: absolute;
    left:6.11cm;
    top:11.96cm;
}
.fb_background .ZJPZWH{
    position: absolute;
    left:6.11cm;
    top:14.84cm;
}
.fb_background .year{
    position: absolute;
    left:7.99cm;
    top:18.8cm;
}
.fb_background .month{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:0.6cm; 
    height: 0.53cm; 
    text-align: center;
    left:9.98cm;
    top:18.8cm;
}
.fb_background .date{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:0.6cm; 
    height: 0.53cm; 
    left:11.15cm;
    top:18.8cm;
    text-align: center;
}
.fb_background .dwmc{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:7.11cm; 
    height: 1.88cm; 
    left: 20.45cm;
    top: 2.99cm;
}
.fb_background .DZHI{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:7.11cm; 
    height: 1.88cm; 
    left: 20.45cm;
    top: 4.88cm;
}
.fb_background .fddbr{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:6.11cm; 
    height: 1.5cm; 
    left: 21.6cm;
    top: 6.64cm;
}

.fb_background .zczj{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:6.11cm; 
    height: 1.5cm; 
    left: 21.6cm;
    top: 9.13cm;
}
.fb_background .YYZZHM{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:6.11cm; 
    height: 1.5cm; 
    left: 20.45cm;
    top: 11.48cm;
}
.fb_background .JYFW{
    position: absolute;
    display:-moz-inline-box; 
    display:inline-block; 
    width:7.11cm; 
    height: 6cm; 
    left: 20.45cm;
    top: 13.55cm;
}

}