.client_1-jzywqktjb .add .fix-table table th {
    text-align: center;
}


.client_1-jzywqktjb .add .fix-table table > tbody:last-child > tr {
    background-color: transparent;
}


.client_1-jzywqktjb .add .fix-table table > tbody:last-child td{
    border: none;
}




