.app-main {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}
.app-main:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1000;
    display: block;
    width: inherit;
    border: inherit;
    content: "";
}

.app-content {
    margin-left: 225px;
    overflow: hidden;
    padding-bottom: 48px;
    position: relative;
}
.app-content > .queue-anim-leaving {
  position: absolute;
  width:100%;
}