.app-main {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}
.app-main:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1000;
    display: block;
    width: inherit;
    border: inherit;
    content: "";
}

.app-content {
    margin-left: 225px;
    overflow: auto;
    padding-bottom: 48px;
}
.app-container{
    position: absolute;
    top:64px;
    bottom:0;
    width:100%;
}