.app-main {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    padding-top:64px;
    -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.app-main:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1000;
    display: block;
    width: inherit;
    border: inherit;
    content: "";
}

.app-content {
    margin-left: 224px;
    overflow: hidden;
    padding-bottom: 48px;
    position: relative;

}
.app-content > .queue-anim-leaving {
  position: absolute;
  width:100%;
}
.app-breadcrumb {
    margin-left:224px;
    background-color: #EDF0F2;
    padding:16px 24px;
}
.app-breadcrumb a{
    color:#9e9e9e
}
.app-breadcrumb a:hover{
    color:#57c5f7
}
.app-main > .sys-alert{
    padding:16px;
    background-color: #f1f1f1;
}
.app-full-loading{
    font-size: 24px;
    font-weight: 600;
    color:#2db7f5;
}
.app-main.blur{
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: progid\:DXImageTransform\.Microsoft\.Blur(PixelRadius\=1, MakeShadow\=false);
    filter: progid\:DXImageTransform\.Microsoft\.Blur(PixelRadius\=1, MakeShadow\=false);
    /* IE6~IE9 */
    position: relative;
}
.spin-nested{
    width:100%;
    position: absolute;
    top:0;
    visibility: hidden;
    z-index: 9000;
    background-color: #08172F;
}
.spin-nested.enabled{
    visibility: visible;
}
/*
.app-main > .ant-spin-nested-loading {
    position: absolute;
    width:100%;
    top:0;
    bottom:0;
    z-index: 9000;
}
.app-main > .ant-spin-nested-loading > .ant-spin-container {
    opacity:0.1;
    height:100%
}

#app > .ant-spin-nested-loading > .ant-spin-container{
    opacity: 0.1;
}*/
