.app-sidenav{
    float: left;
    width: 224px;
    background-color: #5D788C;
    margin-top:34px;
}
.app-sidenav:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -100;
    width: inherit;
    background-color: inherit;
    border: inherit;
    content: "";
    border-right:1px solid #fafafa;
}
.app-sidenav .ant-menu{
    background-color: transparent;
}
.app-sidenav > .ant-menu-root > .ant-menu-item,
.app-sidenav >.ant-menu-root>.ant-menu-submenu>.ant-menu-submenu-title {
    font-size: 14px;
}
.app-sidenav .ant-menu-inline .ant-menu-item,
.app-sidenav .ant-menu-inline, .ant-menu-vertical{
    border-right: 1px solid #fafafa;
}
.app-sidenav .ant-menu-inline .ant-menu-selected,
.app-sidenav .ant-menu-inline .ant-menu-item-selected{
    border-right:2px solid #2db7f5
}